{
  "trailingComma": "all",
"tabWidth": 2,
"semi": true,
"singleQuote": false,
"printWidth": 140,
"useTabs": false,
"bracketSpacing": true,
"arrowParens": "always",
  "overrides": [
    {
      "files": "*.json",
      "options": {
      "parser": "json"
      }
    }
  ]
}
